@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body{
    overflow: hidden;
    
} */

.img-section{
    display: flex;
    justify-content: space-between;
    margin-left: 175px;
    /* margin-top: 5px; */
    margin-bottom: 12px;
}
.spotify-logo{
    width: 190px;
    /* height: 45px; */
    margin-top: 8px;
    
}
/* 
p{
    margin: 22px 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
} */
.nav-section{
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100%;
}


a{
    color: #fff;
    text-decoration: none;
}
.ul-hover:hover{
    color: #1ed760;
}

ul{
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 21px;
    list-style: none;
    font-size: 16px;
    padding: 20px 0px;
    margin-right: 140px;
    margin-top: 10px;
}

.body-section{
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    background: rgb(97,9,121);
    background: linear-gradient(267deg, rgba(97,9,121,0.978203781512605) 8%, rgba(255,0,232,1) 100%);
    width: 100%;
    height: 100vh;  
}

.phone-section-img img{
    margin-top: 50px;
    width: 365px;
    height: 580px;
    position: absolute;
    top: 24px;
    left: 22px;
}

.phone-layout{
    background-color: black;
    width: 58px;
    height: 10px;
    position: absolute;
    top: 34px;
    left: 175px;
    border-radius: 40px;
}


.phone-section{
    background-color: #fff;
    width: 410px;
    height: 680px;
    position: relative;
    margin-left: 200px;
    margin-top: 90px;
    border-radius: 45px;
}
.content-section h1{
    letter-spacing: 0.5px;
    font-size: 80px;
    margin-right: 200px;
    font-family: 'Open Sans', sans-serif;
}

.btn{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: rgb(51, 50, 50);
    transition: 0.3s;
    letter-spacing: 0.1em;
}

.btn:hover{
    transform: scale(1.1);
}

.content-section{    
    margin-right: 0px;
    margin-top: 200px;
    letter-spacing: 0.4em;
    color: #fff;
    line-height: 1.15;
}

.content-section h1{
    font-size: 50px;
    letter-spacing: 5px;
}

.dep {
    align-items: center;
    text-align: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 50px;
}

.description{
    /* font-family: 'Noto Sans', sans-serif; */

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-left: 70px;
    gap: 30px;
    height: 450px;
   
}

.description h4{
    margin-left: 86px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
}

.child-1 img{
    width: 162px;
    height: 162px;
    margin-left: 90px;
    margin-top: 40px;
    background: rgb(97,9,121);
    background: linear-gradient(267deg, rgba(97,9,121,0.978203781512605) 8%, rgba(255,0,232,1) 100%);
    border-radius: 10px;
}



.pre{
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    margin-left: 50px;
    margin-top: 10px;
    font-weight: 50px;
    font-size: 15px;
}

.child-2 img{
    width: 162px;
    height: 162px;
    margin-left: 100px;
    margin-top: 40px;
    background: rgb(108,9,121);
    background: linear-gradient(302deg, rgba(108,9,121,0.8688725490196079) 57%, rgba(33,9,121,0.8324579831932774) 81%);
    border-radius: 10px;
}



.child-3 img{
    width: 162px;
    height: 162px;
    margin-left: 80px;
    margin-top: 50px;
    background: rgb(97,9,121);
    background: linear-gradient(267deg, rgba(97,9,121,0.978203781512605) 8%, rgba(255,0,232,1) 100%);
    border-radius: 10px;
}



.child-4 img{
    width: 162px;
    height: 162px;
    margin-left: 65px;
    margin-top: 40px;
    background: rgb(108,9,121);
    background: linear-gradient(302deg, rgba(108,9,121,0.8688725490196079) 57%, rgba(33,9,121,0.8324579831932774) 81%);
    border-radius: 10px;
}

.after-dp{
    text-align: center;
    background: rgb(97,9,121);
    background: linear-gradient(267deg, rgba(97,9,121,0.978203781512605) 8%, rgba(255,0,232,1) 100%);
    color: #fff;
    font-weight: 900;
    gap: 560px;
    line-height: 1.4;
    padding: 205px 75px ;
    margin: auto;
    align-items: center;
    font-family: 'Poppins' ,sans-serif;
    font-size: 30px;
}


h1{
    margin: 50px 0 30px;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins' ,sans-serif; 
    font-weight: 600;
}

.faq-container{
    font-family: 'Muli', sans-serif;
    background-color: 9fa4a8;
    max-width: 1100px; 
    margin: 0 auto;
}


.faq{
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.faq:hover{
    background-color: #f4f4f4;
}

.faq.active{
    background-color: #fff;
    

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}


.faq.active::before,
.faq.active::after
{
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    /* 7 times whatever the root html elemnt font size is */
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    /* Z index of zero so that we make sure that it's behind everything else */
    z-index: 0;
}

.faq.active::before{
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title{
    margin: 0 35px 0 0;

}
.faq-title:hover{
    text-decoration: underline;
}

.faq-text{
 
    display: none;
    margin: 30px 0 0;
    color: black;
    font-weight: lighter;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    color: #1ed760;
    font-weight: 700;
}


.faq.active .faq-text{

    display: block;   
}


.faq-toggle{
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus{
    outline: 0;
}


.faq-toggle .fa-times{
    display: none;
} 


.faq.active .faq-toggle .fa-times{
    /* set the icon white */
    color: #fff;
    display: block;
} 


.faq.active .faq-toggle .fa-chevron-down{
    display: none;
} 

.faq.active .faq-toggle{
    background-color: #9fa4a8;
}

.second-last{
    font-size: 55px;
    color: #fff;
    text-align: center;
    line-height: 1.6;
    padding: 100px 55px;
    margin: auto;
    align-items: center;
    font-family: 'Poppins' ,sans-serif;
    /* font-size: 30px; */
    /* background: rgb(97,9,121);
    background: linear-gradient(267deg, rgba(97,9,121,0.978203781512605) 8%, rgba(255,0,232,1) 100%);
    border-radius: 10px; */
    background: url('background.jpg')center/cover;
}

.btn-2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 20px 17px;
    margin-top: 1px;
    border-radius: 30px;
    border: none;
    background-color: rgb(51, 50, 50);
    transition: 0.3s;
    letter-spacing: 0.1em;
}

.btn-2:hover{
    transform: scale(1.1);
}

.main-footer{
    padding: 20px 100px;
    /* margin-left: 60px; */
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: baseline;
  
}
.footer{
    position: relative; 
    margin-left: 170px;    
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.fot-logo p{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
}
.fot-logo img{
    margin-top: 40px;
    width: 200px;
    /* height: 45px; */
}

.fot-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 70px;
    margin-top: 50px;
    color: #fff;
    padding: 0 15px;
    width: 100%;
}

.comp{

    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    color: grey;
}

.comp-1{
    margin-top: 12px;
    width: 100%;
}



.fot-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 70px;
    margin-top: 50px;
    color: #fff;
    padding: 0 15px;
    width: 100%;
}
.comm{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    color: grey;
}

.fot-3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 70px;
    margin-top: 50px;
    color: #fff;
    padding: 0 15px;  
    width: 100%; 
}

.link{
    
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    color: grey;
}

.connect{
    display: flex;
    justify-content: space-between;
    margin-left: 197px;
    margin-top: 20px;
    gap: 21px;
}

.insta-logo img{
    width: 45px;
    padding: auto;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
}
.linkedin-logo img{
    /* margin-top: 20px; */
    width: 45px;
    padding: auto;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    /* margin-left: 210px; */
}
.twitter-logo img{
    /* margin-top: 20px; */
    width: 45px;
    padding: auto;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    /* margin-left: 210px; */
}




.last-foot{
    overflow: hidden;
    background-color: black;
    padding-top: 24px;
    height: 16vh;
}
/* 
.count img{
    width: 18px;
    height: 18px;   
    border-radius: 50%;
    background-color: #fff;
    margin-left: 1240px;
} */

.earth{
    margin-left: 1293px;  
    margin-bottom: 50px;  
    font-size: 12px;
    color: #919496;

}


.bottom{
    font-size: 16px;
    color: #919496;
    display: flex;
    width: 100%;
    gap: 23px;
    margin-top: 20px;
    margin-left: 260px;
}
.bottom .legal:hover{
    color: #1ed760;
}

.copyright{
    font-size: 12px;
    color: #919496;
   margin-left: 550px;
   margin-top: 5px;
}



.crhover:hover{
    color: #1ed760;
}
